html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.job_crud{
    width : 400px;
    display : flex;
    height : 300px;
    border : 2px solid gray;
    border-radius : 15px;
}

.container p{
    text-align: center;
}

.h2_whyus_intro{
    color : black;
    text-align: center;
    font-family: 'Times New Roman';
}
.whyUs_desc{
   font-family: 'Times New Roman';
   color: dimgray;

}
.ourmission {
    color: black;
    text-align: center;
    font-family: 'Times New Roman';
}
.whyUs_sectors{
    display : flex;
    width : 100%;
    justify-content : space-between;
    flex-wrap : wrap;


}
.whyUs_spliter {
    text-align: center;
}
.whyUs_Split{
    font-family: 'Times New Roman' ;
    font-style: italic; 
    padding : 30px;
    
}

.sector_1 {
    height: 400px;
    width: 300px;
    margin: 30px;
    border: 2px solid slategray;
    border-radius: 10px;
    background-color: lightgray;
}

.sector_1:hover {
      
 background-color: darkolivegreen;
 border-color: whitesmoke;
 transition : ease 0.7s;
 color : white;
 }
.sector_h2{
    text-align: center;
    font-family: 'Bookman Old Style';
}
.sector_p {
    text-align: center;
    margin-top: 70px;
    font-family: 'Bookman Old Style';
}

/*Footer*/

.footer_{
    position: absolute ;
    top: 100%;
    bottom : 0;
    left :50%;
    transform : translate(-50%, -50%);
    width: 100%;
    background-color: indigo ;
    border-radius: 20px;
}
.footer_ .footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap:3.5rem;
    padding: 20px;
}
.footer-row .footer-col h4 {
    color: green;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Bookman Old Style';
}
.footer-col .links{
    margin-top: 20px;
}
.footer-col .links li{
    list-style: none;
    font-family : 'Book Antiqua';
    text-align: center;
    margin-bottom:10px;
}
.footer-col .links li a {
    text-align: center;
    text-decoration: none;
    color: mediumpurple;
    font-family: 'Book Antiqua';
}
.footer-col .links li a:hover{
    color : darkolivegreen;
    transition : 0.7s ease;
}
.footer-col p{
    margin: 20px 0;
    color : #bfbfbf;
    max-width:300px;
}
.footer-col form{
    display : flex;
    gap: 5px;
}
.footer-col input{
    height : 40px;
    border-radius: 6px;
    background : none;
    widows: 0;
    outline: none;
    border: 1px solid black;
    caret-color: #fff;
    color : darkslategrey;
    padding-left:10px;
}
.footer-col input::placeholder{
    color: none;
}
.footer-col form button {
    background:rebeccapurple ;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}
.footer-col form button:hover{
    background: green;
    transition : 0.7s ease;
}
.footer-col .icons{
    display: flex;
    margin-top: 30px;
    gap:30px;
    cursor:pointer;
    
}
.footer-col .icons i{
    color : #afb6c7;
}
.footer-col .icons i:hover{
    color : #fff;
}
@media(max-width: 768px){
    .footer_ {
        position: absolute;
        top: 100%;
        bottom : 0;
        left : 0;
        transform: none;
        width: 100%;
        border-radius: 0;
        background-color: red;
    }
    .footer_ .footer-row{
        padding: 20px;
        gap: 1rem;
    }
    .footer-col form{
        display: block;
    }
    .footer-col form:where(input, button){
        width: 100%;
    }
    .footer-col form button{
        margin: 10px 0 0 ;
    }

          
