<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Job Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Job_Portal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Job Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="WhyUs">Why Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Publish">Publish Job</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            
        </div>
        <div class="container">

            <section class="footer_">
                <div class="footer-row">
                    <div class="footer-col">
                        <h4>About Us</h4>
                        <ul class="links">
                            <li> <a href="#">Why Us</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Plocy</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Additional Links</h4>
                    <ul class="links">
                       <li><a href="#">Publish</a></li>
                       <li><a href="#">Calculate Salary</a></li>
                       <li><a href="#">Build CV</a></li>
                    </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Contact Us</h4>
                        <ul class="links">
                            <li>+383 49 227 076</li>
                            <li>jobportal.info@gmail.com</li>
                            <li>https://www.linkedin.com/in/jobportal</li>
                            <li>https://www.facebook.com/jobportal</li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Newsletter</h4>
                        <p>Subscrtibe to our newsletter for a weekly dose of news, updates, helpful tips, 
                            and executive offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Your Email" required >
                        <button type="submit">Subscribe</button>
                    </form>
                    <div class="icons">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-github"></i>
                    </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
